---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Style Doc">
  <div
    class="flex flex-col sm:mx-auto -mx-4 gap-10"
  >
    <div
      class="bg-white px-6 pb-8 pt-10 border sm:mx-auto sm:max-w-lg sm:rounded-lg sm:px-10"
    >
      <div class="mb-4">
        <h3 class="text-lg font-bold">Primary: spring-green</h3>
        <div class="flex flex-wrap gap-4">
          <div class="rounded bg-spring-green-300 text-white p-5">300</div>
          <div class="rounded bg-spring-green-400 text-white p-5">400</div>
          <div class="rounded bg-spring-green-500 text-white p-5">500</div>
          <div class="rounded bg-spring-green-600 text-white p-5">600</div>
          <div class="rounded bg-spring-green-700 text-white p-5">700</div>
        </div>
      </div>
      <div class="mb-4">
        <h3 class="text-lg font-bold">Secondary: spring-pink</h3>
        <div class="flex flex-wrap gap-4">
          <div class="rounded bg-spring-pink-300 text-white p-5">300</div>
          <div class="rounded bg-spring-pink-400 text-white p-5">400</div>
          <div class="rounded bg-spring-pink-500 text-white p-5">500</div>
          <div class="rounded bg-spring-pink-600 text-white p-5">600</div>
          <div class="rounded bg-spring-pink-700 text-white p-5">700</div>
        </div>
      </div>
      <div class="mb-4">
        <h3 class="text-lg font-bold">Accent: bulb-orange</h3>
        <div class="flex flex-wrap gap-4">
          <div class="rounded bg-bulb-orange-300 text-white p-5">300</div>
          <div class="rounded bg-bulb-orange-400 text-white p-5">400</div>
          <div class="rounded bg-bulb-orange-500 text-white p-5">500</div>
          <div class="rounded bg-bulb-orange-600 text-white p-5">600</div>
          <div class="rounded bg-bulb-orange-700 text-white p-5">700</div>
        </div>
      </div>
      <div class="mb-4">
        <h3 class="text-lg font-bold">Background 1: spring-field</h3>
        <div class="flex flex-wrap gap-4">
          <div class="rounded bg-spring-field-50 text-black p-5">50</div>
          <div class="rounded bg-spring-field-100 text-black p-5">100</div>
          <div class="rounded bg-spring-field-200 text-black p-5">200</div>
          <div class="rounded bg-spring-field-300 text-white p-5">300</div>
          <div class="rounded bg-spring-field-400 text-white p-5">400</div>
        </div>
      </div>
      <div class="mb-4">
        <h3 class="text-lg font-bold">Background 2: spring-sky</h3>
        <div class="flex flex-wrap gap-4">
          <div class="rounded bg-spring-sky-50 text-black p-5">50</div>
          <div class="rounded bg-spring-sky-100 text-black p-5">100</div>
          <div class="rounded bg-spring-sky-200 text-black p-5">200</div>
          <div class="rounded bg-spring-sky-300 text-white p-5">300</div>
          <div class="rounded bg-spring-sky-400 text-white p-5">400</div>
        </div>
      </div>
    </div>

    <div
      class="px-6 pb-8 pt-10 sm:mx-auto sm:max-w-lg sm:rounded-lg sm:px-10"
    >
      <div class="flex flex-grow flex-col gap-3">
        <div class="text-4xl font-bold">Text Size 1</div>
        <div class="text-3xl font-bold">Text Size 2</div>
        <div class="text-2xl font-bold">Text Size 3</div>
        <div class="text-xl font-bold">Text Size 4</div>
        <div class="text-lg font-bold">Text Size 5</div>
        <div class="text-sm font-bold">Text Size 6</div>
        <div class="text-xs font-bold">Text Size 7</div>
      </div>
    </div>
  </div>
</Layout>
